{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix small-post post-block',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="post-image">{{ content.field_image }}</div>
  <div class="post-content">    
    <div class="post-title"><a href="{{url}}">{{ label }}</a></div> 
    <div class="post-meta">{{ content.field_post_category }}<span class="post-created"> {{ date }}</span> </div>
   </div>
</div>  
